<!-- Content -->

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="index.html" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">
                                <img class="w100" src="../../../assets/img/icons/app-icon.png" />
                            </span>
                            <span class="app-brand-text demo text-body fw-bolder">AdminHair</span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-2">Bienvenido a AdminHair! 👋</h4>
                    <p class="mb-4">Introduce tus credenciales para iniciar sesión.</p>

                    <form id="formAuthentication" class="mb-3" [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" id="email" name="email-username"
                                placeholder="Introduce tu email" autofocus required formControlName="email"
                                [ngClass]="{'is-invalid' : notValidField('email') && this.formSubmitted, 'is-valid': !notValidField('email') && this.formSubmitted}" />
                            <div class="row" *ngIf="notValidField('email')">
                                <div class="col invalid-feedback">
                                    <span>El email debe tener un formato válido.</span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <div class="d-flex justify-content-between">
                                <label class="form-label" for="password">Contraseña</label>
                                <a href="auth-forgot-password-basic.html">
                                    <small>¿Olvidó su contraseña?</small>
                                </a>
                            </div>
                            <div class="input-group input-group-merge">
                                <input [type]="viewPass ? 'text':'password'" id="password" class="form-control"
                                    name="password" required formControlName="password"
                                    [ngClass]="{'is-invalid' : notValidField('password') && this.formSubmitted, 'is-valid': !notValidField('password') && this.formSubmitted}"
                                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                    aria-describedby="password" />
                                <span class="input-group-text cursor-pointer" (click)="viewPassword()">
                                    <i [ngClass]="{'bx-hide' : viewPass, 'bx-show': !viewPass}" class="bx"></i>
                                </span>
                            </div>
                            <div class="row" *ngIf="notValidField('password')">
                                <div class="col invalid-feedback">
                                    <span>Debe introducir una contraseña.</span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="remember-me"
                                    formControlName="remember" />
                                <label class="form-check-label" for="remember-me"> Recuérdame </label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary d-grid w-100" type="submit">Iniciar sesión</button>
                        </div>
                    </form>
                    <div class="row mb-3">
                        <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center login-google">
                            <div #googleBtn id="buttonDiv"></div>
                        </div>
                    </div>

                    <p class="text-center">
                        <span>¿Nuevo en nuestra plataforma? </span>
                        <a class="cursor-pointer" routerLink="/registro">
                            <span>Crea una cuenta</span>
                        </a>
                    </p>
                </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
</div>